$corTextoPrincipal : #cbb9b9;
$corTextoSecundario : rgb(80, 160, 80);
$corDeFundoBotaoDark : #f4f4f4;
$corDeFundoBotaoPrimario : rgb(80, 160, 80);
$corDeFundoBotaoSecundario : rgb(15, 130, 15);
$corDeFundo: #111316;
$corDeFundoSecundaria: #172029;